<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/About.css">
  <title>About us</title>
</head>
<section>
  <details open="">
    <summary>Masajja Urban Farm Initiative</summary>
    <div><img src="/public/Img/Agricultural officer.jpg">
      <p>Ufarm is a programme organized to promote and support urban farming practices while easing market access and improving on the family earnings and livelihoods. This programme deals in fresh Horticulture, poultry and Dairy produce.</p>
    </div>
  </details>
  <details>
    <summary>Team information</summary>
    <div><img src="/public/Img/Ufarm team.jpg">
      <p>The Ufarm team is lead by the Agricultural Officer who has the authority to register the Farmer Ones. the division is divided into four wards(LCs) and each ward is appointed a farmer one whose purpose is to mobilize, supervise, regulate and support the Urban farmers.Urban farmers are being registered by the Farmer ones in their wards. Urban farmers upload products form their activities and then wait for the farmer one to approve the uploaded products.</p>
    </div>
  </details>
  <details>
    <summary>General public</summary>
    <div><img src="/public/Img/FarmAfrica-624x274.jpg">
      <p>This projects provides room for the general public to order or book products being approved by the Farmer one. Customers can choose products according to categories and these are horticulture,poultry and dairy.</p>
    </div>
  </details>
  <details>
    <summary>Contacts</summary>
    <div><img src="/public/Img/images (25).jpeg">
      <p>Anyone can contact or communicate with us using our phone numbers and emails.</p><span><i>ufarm001@gmail.com</i></span><br><span><i>masajjaurbanf@gmail.com</i></span><br><span>+256789585624</span><br><span>+256708930915</span>
    </div>
  </details>
  <div class="form-row">
    <div class="col form-group" style="transform:translateY(-120px);"><a class="btn btn7 button" href="/home"><< Back</a></div>
  </div>
</section>

