doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Agricultural Officer dashboard
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/dashboard.css')
header
  h1 Agricultural Officer
  ul(style='list-style:none; float:right;')
    li(style='transform:translateY(-45px); font-weight:900; color:white;')
      span #{currentUser.userName+' '+currentUser.lastName}
main
  .container(style='transform:translatex(55px);')
    .row.justify-content-center.align-items-center.g-2
      .col-lg-5.cards.my-5
        .card
          a(href='/foReg')
            img.card-img-top(src='Img/images (25).jpeg' alt='Title')
          .card-body
            h3.card-title Farmer One Registration
            p.card-text For the registration of all the Farmer Ones only.
      .col-lg-5.cards
        .card
          a(href='/FarmerOneList')
            img.card-img-top(src='Img/Farmer one.jpg' alt='Title')
          .card-body
            h3.card-title  Farmer One List
            p.card-text List of  farmer ones
      .col-lg-5.cards
        .card
          a(href='/retiredList')
            img.card-img-top(src='Img/retired-rubber-stamp-vector-17236424 (2).jpg' alt='Title')
          .card-body
            h3.card-title Retired Farmer One List
            p.card-text List of retired  farmer ones
      .col-lg-5.cards.my-5
        .card
          a(href='/aOufList')
            img.card-img-top(src='Img/Ufarm team.jpg' alt='Title')
          .card-body
            h3.card-title Urban farmer List
            p.card-text The list of Urban farmers on the Ufarm team.
      .col-lg-5.cards
        .card
          a(href='/report')
            img.card-img-top(src='Img/morning-farm-report.jpg' alt='Title')
          .card-body
            h3.card-title Report
            p.card-text Report of the Project results
  div.form-row
    div.col.form-group
        a.btn.btn7(class='button' href='/home') << Back
footer
  h3 Ufarm Project
