doctype html
head
  title Agricultural Officer Sign up
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/Form.css')
  link(rel='icon' href='Img/favicon.png')
header
  // place navbar here
main
  .container
    h2 Please Sign Up
    hr.hr
    .row.justify-content-center.align-items-center.my-5.cage
      .col-lg-2.cage
        form(action='/aoReg' name='registration' method='POST' onsubmit='return Validation0();')
          .row.justify-content-center.align-items-center.g-2.lamar
            .col-lg-4.form-zones
              label First name:
              input.form-inputs(name='userName' type='text')
              small#userNameerr
            .col-lg-4.form-zones
              label Last name:
              input.form-inputs(name='lastName' type='text')
              small#lastNameerr
            .col-lg-4.form-zones
              label Date of Registration:
              input.form-inputs(name='regDate' type='date')
              small#regDateerr
            .col-lg-4.form-zones
              label NIN:
              input.form-inputs(name='ninNumber' type='text')
              small#ninNumbererr
            .col-lg-4.form-zones
              label Date of Birth:
              input.form-inputs(name='birthDay' type='date' max="2012-01-01")
              small#birthDayerr
            .col-lg-4.form-zones
              label Role:
              select#select.form-select(name='role')
                option(value='') Select option
                option(value='Agricultural Officer') Agricultural officer
              small#roleerr
            .col-lg-4.form-zones
              label Unique Id:
              input.form-inputs(name='uniqueNumber' type='text')
              small#uniqueNumbererr
            .col-lg-4.form-zones
              label Contact:
              input.form-inputs(name='phoneNumber' type='text')
              small#phoneNumbererr
            .col-lg-3.form-zones
              label Create Password:
              input.form-inputs(name='password' type='password')
              small#passworderr
            .col-lg-3.form-zones
              label Comfirm Password:
              input.form-inputs(name='comfirmPassword' type='password')
              small#comfirmPassworderr
            .col-lg-12.form-radio
              label Gender:
              .radio
                | Male
                input(type='radio' name='sex' value='male' checked='')
                |             Female
                input(type='radio' name='sex' value='female')
            hr.boundary
            .submit
              .btnz(style='transform:translateY(18px);')
                button(type='submit')
                  span
                  | Sign Up
footer
script(src="/js/AOvalidation.js") 