<!--<!DOCTYPE html>

<head>
    <title>Horticulture products</title><!-- Required meta tags-->
    <!--<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS v5.2.1-->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&amp;family=Nabla&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&amp;family=Lato:wght@900&amp;family=Nabla&amp;family=Oswald:wght@900&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&amp;family=Cinzel:wght@700&amp;family=Lato:wght@900&amp;family=Nabla&amp;family=Oswald:wght@700&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="./Img/favicon.png">
</head>

<header>
    <!-- place navbar here-->
    <!--<div class="header-navbar">
        <nav class="navbar navbar-light fixed-top" id="navbar">
            <div class="container-fluid"><img class="logo" src="Img/favicon.png" />
                <p class="title" style="transform:translateX(-380px);">Ufarm Project</p>
                <div class="logo-list" style="transform:translateX(-100px);">
                    <ul>
                        <li><a class="btn text-secondary" href="/home" type="button">Home</a></li>
                        <li><a href="/carAccess">Careers</a></li>
                        <li><a class="dropdown-toggle" id="dropdownId" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownId"><a class="dropdown-item" href="/horticulture" style="color:teal ;">Horticulture</a><a class="dropdown-item" href="/poultry" style="color:teal ;">Poultry</a><a class="dropdown-item" href="/dairy" style="color:teal ;">Dairy</a></div>
                        </li>
                        <li><a href="/about">About us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>