<!DOCTYPE html>

<head>
    <title>Ufarm team dashboards</title><!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS v5.2.1-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/listDash.css">
    <link rel="icon" href="Img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&amp;family=Nabla&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&amp;family=Lato:wght@900&amp;family=Nabla&amp;family=Oswald:wght@900&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&amp;family=Cinzel:wght@700&amp;family=Lato:wght@900&amp;family=Nabla&amp;family=Oswald:wght@700&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <style>
        .logout {
            background: linear-gradient(to bottom, rgb(15, 93, 93), rgb(41, 232, 232), rgb(26, 77, 77));
            color: black;
            border: teal;
            font-weight: 700;
            font-size: 18px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        li {
            list-style: none;
        }

        .title {
            font-weight: 700;
            font-size: 28px;
        }
    </style>
</head>
<header>
    <!-- place navbar here-->
    <div class="header-navbar">
        <nav class="navbar navbar-light fixed-top" id="navbar">
            <div class="container-fluid navbar">
                <p class="title">Massajja Urban Farm</p>
                <div class="logo-list">
                    <ul>
                        <li>
                            <form action="/logout" method="POST"><button class="btn logout" type="submit">Log out</button></form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header><!-- MAIN-->
<main></main>
<footer></footer>