doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/About.css')
  title About us
section
  details(open='')
    summary Welcome to our page guide.
    div
      img(src='Img/homepage.jpg')
      p
        | The homepage is the base for all the navigations done on this website.
        |These are the areas for you to navigate, menu in the navbar shows the shortcuts our user is expected to take and these include the dashboards and products.
        |The shopping list, here is where the general public find the listed products from our team. And the general public can also choose his/her favourite product category in the dropdown indicated in the navbar by the name products.
        |For the Ufarm career, visit the career as indicated by the card on the homepage.
  details
    summary Ufarm Team Guide
    div
      img(src='Img/Ufarm team.jpg')
      p
        |The Agricultural Officer should be the only one to register Farmer ones but he/she must also have his/he information entered in the project's database.
        |Each Ufarm team member will have his/her own dashboard, the Agricultural officer's dashboard, Farmer One dashboard and then the Urban farmer's dashboard.
        |The Farmer one is the one to register the Urban farmers in his/her ward.
  details
    summary General public guide
    div
      img(src='Img/homepage2.jpg')
      p
        |For our general public/ customers, visit the shopping list to see the products being listed and then visit the products dropdown, this will contain Horticulture, Poultry and Dairy.
        | You as the customer have the authority to book/order any product you want from our products. When you order, you will be required to fill in your information(email, phone number and direction/address). After that you can submit your order and you will be redirected to the shopping list to see that your order has been granted by marking the product with Booked.
        | The shopping list will inform you the products available(Available) and not available (N/A).
  details
    summary For more information Contact us.
    div
      img(src='Img/images (25).jpeg')
      p Anyone can contact or communicate with us using our phone numbers and emails.
      span
        i ufarm001@gmail.com
      br
      span
        i masajjaurbanf@gmail.com
      br
      span +256789585624
      br
      span +256708930915
  div.form-row
    div.col.form-group(style='transform:translateY(-120px);')
        a.btn.btn7(class='button' href='/home') << Back
