<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/Not found.css">
    <title>Not found!!!</title>
</head>

<body>
    <h1>404</h1>
    <div class="cloak__wrapper"></div>
    <div class="cloak__container">
        <div class="cloak"></div>
    </div>
    <div class="info"></div>
    <h2>We can't find the image, add image to your upload.</h2><a href="/home">Home</a>
</body>