<!DOCTYPE html>

<head>
    <title>Title</title><!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS v5.2.1-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/homepage.css">
    <link rel="icon" href="Img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&amp;family=Nabla&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&amp;family=Lato:wght@900&amp;family=Nabla&amp;family=Oswald:wght@900&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&amp;family=Cinzel:wght@700&amp;family=Lato:wght@900&amp;family=Nabla&amp;family=Oswald:wght@700&amp;family=Rubik+Dirt&amp;family=Rubik+Marker+Hatch&amp;display=swap" rel="stylesheet">
</head>
<header>
    <!-- place navbar here-->
    <div class="header-navbar">
        <nav class="navbar navbar-light fixed-top" id="navbar">
            <div class="container-fluid"><img class="logo" src="Img/favicon.png">
                <p class="title">Massajja Urban Farm</p>
                <div class="logo-list">
                    <ul>
                        <li><button class="btn text-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id1" aria-controls="Id1">Menu</button></li>
                        <li><a href="/Homepage/Products.html">Products</a></li>
                        <li><a href="/Homepage/Farmers.html">Careers</a></li>
                        <li><a class="dropdown-toggle" id="dropdownId" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownId"><a class="dropdown-item" href="#" style="color:teal ;">Horticulture</a><a class="dropdown-item" href="#" style="color:teal ;">Poultry</a><a class="dropdown-item" href="#" style="color:teal ;">Diary</a></div>
                        </li>
                        <li><a href="/Homepage/About.html">About us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start menu" id="Id1" data-bs-scroll="true" tabindex="-1" aria-labelledby="Enable both scrolling &amp; backdrop">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="Enable both scrolling &amp; backdrop">Massajja Urban Farming <br>Initiative</h5><button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>Try scrolling the rest of the page to see this option in action.</p><button class="btn text-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"> Home</button>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdownId" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId"><a class="dropdown-item" href="#">Horticulture</a><a class="dropdown-item" href="#">Poultry</a><a class="dropdown-item" href="#">Diary</a></div>
                        </li>
                    </ul>
                    <form class="d-flex"><input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success" type="submit">Search</button></form>
                </div>
            </div>
        </div>
    </div>
</header><!-- MAIN-->
<main></main>
<footer>
    <!-- place footer here-->
    <div class="container-fluid ctn">
        <div class="footer">
            <div class="footer-logo">
                <h1>Ufarm Project</h1>
            </div>
        </div>
        <div class="footer-lists">
            <div class="list">
                <h6>About Us</h6>
                <ul>
                    <p>Our Farm deals in different kinds <br>of products and these include:</p>
                    <li>Horticulture Produce</li>
                    <li>Poultry Produce</li>
                    <li>Dairy Produce</li>
                </ul>
            </div>
            <div class="list">
                <h6>Contact Us</h6>
                <ul>
                    <li>Tel: 0789585624</li>
                    <li>Tel: 0708930915</li>
                    <li>Email: kayanjajohn27@gmail.com</li>
                </ul>
            </div>
            <div class="list">
                <h6>Location</h6>
                <ul>
                    <li>
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe id="gmap_canvas" width="200" height="200" src="https://maps.google.com/maps?q=Massajja%20&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 200px;
                                        width: 200px;
                                    }
                                </style><a href="https://www.embedgooglemap.net">google map responsive</a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 200px;
                                        width: 200px;
                                    }
                                </style>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>&gt;
</footer><!-- Bootstrap JavaScript Libraries-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>