doctype html
head
  title Login now
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/Form.css')
  link(rel='icon' href='Img/favicon.png')
style.
  body{
  overflow-y:hidden;
  background:linear-gradient(90deg,rgba(2, 42, 1, 0.87),rgba(62, 218, 54, 0.37),rgba(2, 42, 1, 0.87));
  }
  .create{
    text-decoration:none;
    color: rgb(0,0,0);
    font-size:18px;
    font-weight:700;
    margin-left:25px;
    margin-top:-45px;
  }
  .form-group{
      transform:translateY(55px);
      margin-left:12px;
      padding:25px;
      position:absolute;
      left:0;

        }
  .btn7{
           background: linear-gradient(to bottom,rgb(61, 15, 155,0.87),rgb(177, 165, 245),rgb(69, 26, 152,0.86));
            padding:15px;
            border-radius:25px;
            font-size:25px;
            font-weight:900;
      color: rgb(11, 11, 11,0.87);
      }
      .form-inputs{
        height:5rem;
        border-radius:25px;
        text-align:center;
      }
header
  // place navbar here
main
    form(action='/login' name='registration' method='POST')
      .container(style='width: 50%; transform:translateY(100px);  background: rgba(35, 55, 84, 0.43);')
        h2 Please Login
        hr
        .row.justify-content-center.align-items-center.my-5.cage
          .col-lg-2.cage
              .row.justify-content-center.align-items-center.g-2.lamar
                .col-lg-8.form-zones
                  label Unique No:
                  input.form-inputs(name='uniqueNumber' type='text' placeholder='Enter your Unique Number')
                  small#uniqueNumbererr
                .col-lg-6.form-zones
                  label Password:
                  input.form-inputs(name='password' type='password' placeholder='Enter your password')
                  small#passworderr
                .submit
                  .btnz(style='transform:translateY(20px);')
                    button(type='submit')
                      span
                      | login
        a.create(href="/adminDash") Create account
footer
      div.form-row(style='transform:translateY(-50px);')
        div.col.form-group
            a.btn.btn7(class='button' href='/home') << Back