<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/Not found.css">
    <title>Not allowed!!!</title>
</head>

<body>
    <h3>WHO ARE YOU</h3>
    <div class="cloak__wrapper"></div>
    <div class="cloak__container">
        <div class="cloak"></div>
    </div>
    <div class="info"></div>
    <h2>We can't let in....</h2>
    <p>This page is only accessed by the Farmer Ones</p><a href="/home">Home</a>
</body>